.container,.container-fluid{
    font-family: 'Source Sans Pro', sans-serif;
}
 
 label,input{
    display: block;
}

label{
    font-weight: 600;
}

p{
    margin: 0px;
    font-size: 13px;
}

.d-flex{
    align-items: baseline;
}

input.title{
    width: 100%;
}

textarea{
    height: 100px;
    width: 100%;
    padding-left: 10px;
}

.save{
    background: #67A300;
    color: white;
    margin: 0px 10px;
    font-weight: 600;
    padding: 6px 20px;
}

.cancel{
    background: rgba(18,21,35,0.20);
    margin: 0px 10px;
    font-weight: 600;
    padding: 6px 20px;
}

.description{
    text-align: justify;
}

.minutes{
    display: inline;
}

.hours{
    margin: 0px 20px;
}

.newCourse{
    margin: auto 50px;
    padding: 10px 0px;
}

.card{
    border: none;
    box-shadow: 0 1px 2px 0 rgba(29,30,38,0.10), 0 2px 10px 0 rgba(29,30,38,0.15);
    background: #fff;
    padding: 15px 20px;
}

.header-bg {
	background: #303240;
    color: white;
    padding:15px 15px;
}