<!-- <div class="container-fluid bg-light py-3 ps-5">
    <button type="button" class="btn btn-link" (click)="goToCourses()">Courses</button>
    <span [class.d-none]="showNewCourse"> / <button type="button" class="btn btn-link">New Course</button></span>
</div> -->

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="courses" routerLinkActive="active">Courses</a></li>
        <li class="breadcrumb-item"><a routerLink="new-course" routerLinkActive="active">New Course</a></li>
    </ol>
</nav>

<div>
    {{renderBreadcrumb()}}
</div>